<div class="aligner">
    <md-card class="aligner-center-item">
        <md-card-title>
            PMSOFT
        </md-card-title>
    <h2>Login</h2>
    <md-card-content>
      <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <md-input-container style="width: 100%; margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <input mdInput type="text" formControlName="username" placeholder="Username" required/>
          <md-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.username.hasError('required')">{{error.message}}</md-hint>
          <md-hint style="color: red;" *ngIf="submitted && loginForm.controls.username.hasError('required')">Campos Obligatorios</md-hint>
        </md-input-container>
        <md-input-container style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <input mdInput type="password" formControlName="password" placeholder="Password" required/>
          <md-hint style="color: red;" *ngIf="submitted && error?.code == 2 && !loginForm.controls.password.hasError('required')">{{error.message}}</md-hint>
          <md-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">Campos Obligatorios</md-hint>
        </md-input-container>
      </form>
    </md-card-content>


    <md-card-actions style="text-align: right;">

          <button md-raised-button type="submit" form="login-form"
            style=" align-content: center;
                    width: 180px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 30px;
                    padding-right: 30px;"
            class="btn btn-primary">
        <md-icon>account_circle</md-icon></button>

        <button md-raised-button disabled="true"
            style=" align-content: center;
                    width: 180px;
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 30px;
                    padding-right: 30px;"
            (click)="register()" class="btn btn-success">
        <md-icon>art_track</md-icon></button>

        <hr>

        <div>
            <md-progress-bar style = "width:340px"
                class="example-margin"
                [color]="color"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
            </md-progress-bar>
        </div>
    </md-card-actions>
  </md-card>
</div>
<app></app>



