<md-toolbar color="primary">
  <span><h2>Hola {{user.firstName}}!</h2></span>
  <span class="example-spacer"></span>
  <a md-mini-fab [routerLink]="['/login']"><md-icon  mdTooltip="Salir">backspace</md-icon></a>
</md-toolbar>

<div class="formulario">
  <md-card class="formulario-item">
      <md-toolbar class="color">
        <a md-icon-button [routerLink]="['/censo']"><md-icon  mdTooltip="Censo">home</md-icon></a>
        <span class="example-spacer"></span>
      </md-toolbar> 
      <md-card class="formulario-item ">
        <div>
          <h1>BIENVENIDO AL INICIO DE PMSOFT</h1>
          <hr>
          <h3>Para Continuar Seleccione el icono <md-icon>home</md-icon> En la parte superior.</h3>
          <hr>
          <h3>Tenga en cuenta que para salir de PMSOFT he ingresar con otro Usuario,</h3>
          <h3>Seleccione el siguiente icono <md-icon>backspace</md-icon>. </h3>
        </div>
      </md-card>
  </md-card>
</div>

<md-toolbar color="primary">
  <span>PIE DE PAGINA</span>
</md-toolbar>
