<md-toolbar color="primary">
  <span><h2>Hola {{user.firstName}}!</h2></span>
  <span class="example-spacer"></span>
  <a md-mini-fab [routerLink]="['/login']"><md-icon class="item" mdTooltip="Salir">backspace</md-icon></a>
</md-toolbar>

<div class="formulario">
  <md-card class="formulario-item">
      <md-toolbar class="color">
        <a md-icon-button [routerLink]="['/censo']"><md-icon  mdTooltip="Censo">home</md-icon></a>
        <span class="example-spacer"></span>
      </md-toolbar> 
      <md-card class="formulario-item ">
        <div>
          <h1>BIENVENIDO</h1>
          <h1>AL INICIO</h1>
          <h1>DE PMSOFT</h1>
        </div>
      </md-card>
  </md-card>
</div>

<md-toolbar color="primary">
  <span>PIE DE PAGINA</span>
</md-toolbar>
