.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.formulario-item{    
    width: 90%;
}
.item{
    height: 100%;
    width: 100%;    
    line-height: 2;
}
.color{
    color:aliceblue; background-color:royalblue
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}


