<md-toolbar color="primary">
  <span><h2>Hola {{user.firstName}}!</h2></span>
  <span class="example-spacer"></span>
  <a md-mini-fab [routerLink]="['/login']"><md-icon  mdTooltip="Salir">backspace</md-icon></a>
</md-toolbar>

<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon class="item" mdTooltip="HOME">home</md-icon>
    </ng-template>
      <div class="formulario">
        <md-card class="formulario-item">
            <md-toolbar class="color">
              <a md-icon-button [routerLink]="['/censo']"><md-icon  mdTooltip="Inicio">home</md-icon></a>
              <h3 style="width: 80px; -webkit-margin-start: 1.5em; display: flex;">SENSIBILIZACION</h3>
              <span class="example-spacer"></span>
						</md-toolbar>
						<md-card class="formulario-item">
							<h1>INICIO DE SENSIBILIZACION</h1>
						</md-card>
        </md-card>
      </div>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon class="item" mdTooltip="CENSOS">assignment</md-icon>
    </ng-template>
      <div class="formulario">
        <md-card class="formulario-item">
            <md-toolbar class="color">
              <a md-icon-button [routerLink]="['/censo']"><md-icon  mdTooltip="Inicio">home</md-icon></a>
              <h3 style="width: 80px; -webkit-margin-start: 1.5em; display: flex;">SENSIBILIZACION</h3>
              <span class="example-spacer"></span>
			</md-toolbar>
			
			<hr>

			<md-card>
				<div>
					<img md-image src="assets/Logo_Cundinamarca.png" style="max-width: 9%">
					<img md-image src="assets/Logo_Secretaria_Planeación_Cundinamarca.jpeg" style="max-width: 79%">
					<img md-image src="assets/Logo_TX.jpg" style="max-width: 10%" align="right-center">
				</div> 

				<hr> 

				<form #formProducto="ngForm" (ngSubmit)="onSubmit()">	
				<div class="formulario">
				<md-card class="formulario-item">                     
					<table style="margin: 0 auto;">
						<thead>
						<tr>
							<th>|OP|</th>
							<th>|MUNICIPIO|</th>
						</tr>
						</thead>
						<tbody >                          
							<tr > 
								<td>	
									<md-select placeholder="-" style="width: 300px;" [(ngModel)]="datos_.Operador" name="operador" #operador="ngModel" required>
										<md-option *ngFor="let operador of operadors" [value]="operador.value">
												{{ operador.viewValue }}
										</md-option>
										<span *ngIf="!operador.valid && operador.touched" class="label label-danger">obligatorio</span>
									</md-select>
								</td> 
								<td>
									<md-select placeholder="-" style="width: 200px;" [(ngModel)]="datos_.Municipio" name="municipio" #municipio="ngModel" required>
										<md-option *ngFor="let municipio of municipios" [value]="municipio.value">
												{{ municipio.viewValue }}
										</md-option>
										<span *ngIf="!municipio.valid && municipio.touched" class="label label-danger">obligatorio</span>
									</md-select>
								</td> 
							</tr>
						</tbody>
					</table>
				</md-card>
				</div>
				</form>

				<form #formProducto="ngForm">	
				<div class="formulario">
				<md-card class="formulario-item">                     
					<table id="mytable">
						<thead>
						<tr>
							<th>|#|</th>
							<th>|FECHAS|</th>
							<th>|NOMBRE| |PROPIETARIO|</th>
							<th>|NOMBRE| |ESTABLECIMIENTO|</th>
							<th>|DIRECCION DEL| |ESTABLECIMIENTO|</th>
							<th>|ACTIVIDAD| |ECONOMICA|</th>
							<th>|TELEFONO| |PROPIETARIO|</th>
							<th>|FIRMA|</th>
						</tr>
						</thead>
						<tbody >                          
							<tr >                            
								<td> 
								<section class="example-section">
									<md-checkbox
										[disabled]="!formProducto.form.valid"
										class="example-margin"
										[checked]= "formProducto.form.valid"
										[indeterminate]= "!formProducto.form.valid"
										>
									</md-checkbox>
								</section>
								</td>
								<td> 						
										<md-input-container>                
											<input  mdInput [mdDatepicker]="picker" placeholder="Elige una fecha" disabled ="disabled"
												#fecha="ngModel" name="fecha" [(ngModel)]="datos_.Fecha"  required />
												<span *ngIf="!fecha.valid && fecha.touched" class="label label-danger">obligatorio</span>
											<button mdSuffix [mdDatepickerToggle]="picker"></button>
										</md-input-container>
										<md-datepicker #picker></md-datepicker>	
								</td>
								<td>	
									<md-input-container> 
										<script type="text/javascript" src="java-script/create_input.js"></script> 							                             
										<input mdInput placeholder="-" #namePro="ngModel" name="namePro" [(ngModel)]="datos_.Nobre_Propietario"  required>                             
										<span *ngIf="!namePro.valid && namePro.touched" class="label label-danger">obligatorio</span> 	
									</md-input-container>
								</td>
								<td>	
									<md-input-container>  							                             
										<input mdInput placeholder="-" #nameEs="ngModel" name="nameEs" [(ngModel)]="datos_.Nobre_Establecimiento" required>                             
										<span *ngIf="!nameEs.valid && nameEs.touched" class="label label-danger">obligatorio</span> 	
									</md-input-container>
								</td>
								<td>	
									<md-input-container>  							                             
										<input mdInput maxlength="25" placeholder="-" #direccion="ngModel" name="direccion" [(ngModel)]="datos_.Direccion_Establecimiento" required>                             
										<span *ngIf="!direccion.valid && direccion.touched" class="label label-danger">obligatorio</span> 	
									</md-input-container>
								</td>
								<td>	
									<md-input-container>  							                             
										<input mdInput placeholder="-" #actividad="ngModel" name="actividad" [(ngModel)]="datos_.Actividad_Economica" required>                             
										<span *ngIf="!actividad.valid && actividad.touched" class="label label-danger">obligatorio</span> 	
									</md-input-container>
								</td>
								<td>	
									<md-input-container>  							                             
										<input mdInput placeholder="-" #telefono="ngModel" name="telefono" [(ngModel)]="datos_.Telefono_Propietario" required pattern="[0-9]+">                             
										<span *ngIf="!telefono.valid && telefono.touched" class="label label-danger">obligatorio</span> 	
									</md-input-container>
								</td>
								<td>	
									<md-select placeholder="Firma" [(ngModel)]="datos_.Firma" name="firma" #firma="ngModel" required>
										<md-option *ngFor="let firma of firmas" [value]="firma.value">
												{{ firma.viewValue }}
										</md-option>
										<span *ngIf="!firma.valid && firma.touched" class="label label-danger">obligatorio</span>
									</md-select>
								</td>

								<button md-icon-button (click)="openSnackBar()" [disabled]="!formProducto.form.valid" class="btn btn-success"><md-icon  mdTooltip="Inicio">archive</md-icon></button>
							
							</tr>
						</tbody>
					</table>
				</md-card>
				</div>
				</form>
			</md-card>              
        </md-card>
      </div>
  </md-tab>
</md-tab-group>

<hr>

<md-toolbar class="color">
  <span>PIE DE PAGINA</span>
</md-toolbar>






